body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:2em;
    color:hex();
    background-color:blanchedalmond;
}
#countLabel{
    display:block;
    text-align: center;
    font-size:10em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#btnContainer{
    text-align:center
}
.buttons{
    padding:10px 20px;
    font-size:1.5em;
    color:darkgrey;
    background-color: rgb(105, 105, 172);
    border-radius: 5px;
    cursor:pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color:rgba(85, 85, 185, 0.468);
}




body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:bisque;
}
h1{
    color:blue
}
form{
    background-color:antiquewhite;
    text-align:center;
    max-width:350px;
    margin:auto;
    padding:25px;
    border-radius:10px;
    box-shadow:5px 5px 20px grey;
}
#textBox{
    width:50;
    text-align:center;
    font-size:2em;
    border:2px solid blue;
    border-radius:4px;
    margin-bottom:15px
}
label{
    font-size:1.5em;
    font-weight:bold;

}
button{
    margin-top: 15px;
    background-color:cornflowerblue;
    font-size:1.5em;
    padding: 10px 15px;
    border-radius:5px;
    cursor:pointer;

}
button:hover{
    background-color:hsl(219, 79%, 40%);
}
#result{
    font-size:1.75em;
    font-weight:bold;
}