body{
    font-family: 'Calibri';
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 3.5rem;
    color:rgb(18, 18, 86);
}
.choices{
    margin-bottom: 30px;
}
.choices button{
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 250px;
    background-color:rgb(93, 171, 223);
    cursor:pointer;
    transition: background-color 0.5s ease;

}
.choices button:hover{
    background-color:rgba(93, 171, 223, 0.473);
}
#playerDisplay, #computerDisplay{
    font-size: 2.5rem;
}
#resultDisplay{
    font-size: 5rem;
    margin: 30px 0;
}
.scoreDisplay{
    font-size: 2rem;
}
.greenText, #playerScoreDisplay{
    color:green;
}
.redText, #computerScoreDisplay{
    color: red;
}