body{
    margin:0;
    display:flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    background-color:rgb(250, 222, 226);
}
#calculator{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(249, 247, 233);
    border-radius: 15px;
    max-width: 500px;
    overflow:hidden;
}
#display{
    width:100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color:rgb(225, 179, 190);
    color:white;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding:25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color:pink;
    color: white;
    font-size:3rem;
    font-weight:bold;
    cursor:pointer;
}
button:hover{
    background-color:rgba(255, 192, 203, 0.603);
}
button:active{
    background-color:rgb(255, 156, 172);
}
.operator-btn{
    background-color:rgb(244, 120, 141);
}
.operator-btn:hover{
    background-color:rgba(244, 120, 141, 0.589);
}
.operator-btn:active{
    background-color:rgb(248, 84, 111);
}